/* ~~~~~~~~~~~~~~~~~~color palete~~~~~~~~~~~~~~~~~~ */

:root {
--bg-color-1: #fff;
--bg-color-2: #e9ebe8;
--font: #111;
--accent-1: #b7fa70;
--accent-2:#d3acfa;
--dark:#222;
}




/* ~~~~~~~~~~~~~~~~~~CSS resets~~~~~~~~~~~~~~~~~~  */

* {
    margin: 0;
    padding: 0;

}

/* respect your size preferences */
html {
    font-size: 100%;
}


/* General CSS */
html{
    scroll-behavior: smooth;
}

body {
    /* background-color: #864c7c; */
    background-color: var(--accent-1);
    color: var(--font);

    /* background: #2a9b84; */
    /* background: linear-gradient(90deg, rgba(42, 155, 132, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
    font-family:"Nunito",sans-serif;
    font-size: 1.5rem; 
    line-height: 1.5;
    text-align: justify;

}

@media(width-max: 700px){
    body {
        font-size: 1.3rem;
    }
}

header {
    /* makes images into the site
     background-image: url(../images/image3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */

    padding: 6rem;
    margin-bottom: 3rem;
    /* background-color: #ff080842; */
    background: #27d65b;
    background: linear-gradient(360deg, rgba(39, 214, 91, 1) 0%, rgba(214, 9, 9, 1) 60%, rgba(252, 176, 69, 1) 100%);
    border-bottom: #000 2px solid;


    /* text-align: center */
}
@media (max-width: 700px){
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color:var(--accent-1);
    font-family: "lora",serif;
}


nav {
    position: absolute;
    right: 2rem;
    top: 2rem;


}

nav a {
    text-decoration: none;
    color: rgb(141, 44, 18);
    display: inline-block;
    margin: 0 1rem;
    /* transition: background-color .5s ease; */
    transition: all .5s ease;
}

nav a:hover {
    background-color: #00ffff;
    transform: scale(1.3);
}

@media (max-width: 750px){
    nav a{
        margin: 0.5rem;
    }
}

main {
    margin: 0;

}

@media (max-width:850px){
    main {
        margin: 2rem;
    }
    @media (max-width:600px){
    main {
        margin: 1rem;
    }
}


.about-section,
.portfolio-section,
.contact-section {
    margin: 5rem;
}


.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 0rem auto;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #43dd53a3;
    padding: 4rem;
    /* text-align: justify; */
    border-radius: 5rem;
    box-shadow: 10px 10px lightcoral;
    /* box-shadow: 30px 30px lightseagreen;  */
    border: 2px #000 solid;
    border-style: solid;


}

@media (max-width: 800px){
    .portfolio-item{
        padding: 3rem;
    }
}
@media (max-width: 650px){
    .portfolio-item{
        padding: 2rem;
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    box-shadow: 0 4px 6px lightcoral;
    /*makes corners roundish
    /* only works on block elements */
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.about-section {
    background-color: #8feff49f; 
    border-radius: .5rem;
    border: 2px #000 solid;

}

.portfolio-section {
    background-color: #cdffd0;
    box-shadow: 10px 10px greenyellow; 
}

footer {
    background-color: var(--dark);
    color: #eee;
    padding: 1rem;
    text-align: right;
}

footer p {
    font-size: 1.2rem;
}

/* style classes */

.accent-1 {
    color: var(--accent-1);
    /* color: rgb(197, 117, 178); */

}

.accent-2 {
    color: var(--accent-2);
    /* color: #2adf63; */

}

